.reset-container {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    height: 255px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    padding: 10px;
    align-items: center;
}

.container h2{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    width: 33rem;
    height: 20%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 10px;
}

.inputCover input {
    color: #fff;
    padding: 20px;
    background: transparent;
    position: absolute;
    right: 1.5rem;
    top: 4.5rem;
    width: 30rem;
}

.rest-input{
    width: 100%;
    padding: 15px;
    background: transparent;
    border: none;
    outline: none;
    border: 3px solid rgba(255, 255, 255, .1);
    color: #fff;
}

input::placeholder{
    font-size: 20px;
    font-weight: bold;
}

input:focus{
    border: 2px solid #fff;
}

.control-btn{
    background: blue;
    border: none;
    outline: none;
    border: 2px solid white;
    color: #fff;
    padding: 10px;
    width: 100%;
    margin-top: 3.5rem;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.control-btn:hover{
    background: green;
}
