.comment-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.modal-content textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    padding: 5px;
}


.comment-text {
    display: inline-flex;
    font-size: 14px;
    color: gray;
    margin-left: 10px;
    margin-right: 8px;
}


.max-comment-warning {
    color: red;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}