.form-wrapper {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    position: relative;
    height: 255px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
}

.link-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.form-wrapper button{
    background-color: white;
    padding: 7px;
    border: none;
    outline: none;
    color: blue;
    font-weight: bold;
}

.form-wrapper button:hover{
    background: blue;
    color: #fff;
}
.form-wrapper button:active{
    background: green;
    color: #fff;
}

.form-wrapper span {
    padding: 2px;
    margin-top: 1rem;
    font-size: 20px;
    font-weight: bold;
}

.form-wrapper a{
    text-decoration: none;
    color: #fff;
}
.form-wrapper a:hover{
    text-decoration: underline;
}

.form-container h2 {
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.inputCover {
    width: 33rem;
    height: 50%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: 2px;
    font-size: 16px;
    color: #fff;
}

.inputCover input {
    color: #fff;
    padding: 15px;
    border: 2px solid;
    background: transparent;
    position: absolute;
    right: 2rem;
    top: 4rem;
    width: 50%;
}

.forget-input{
    width: 50%;
    padding: 15px;
    background: transparent;
    border: none;
    outline: none;
    border: 3px solid rgba(255, 255, 255, .1);
    color: #fff;
}
.inputCover input:focus{
    border: 2px solid #fff;
}


